# Change this to your real backend URL in production
VITE_API_URL=http://localhost:8000/api/v1

# Change this to your real frontend URL in production
VITE_APP_URL=http://localhost:5173

VITE_GOOGLE_CLIENT_ID=example.apps.googleusercontent.com   # change with google client